allow qti_init_shell cache_file:lnk_file read;
allow qti_init_shell mnt_vendor_file:dir setattr;
allow qti_init_shell ctl_start_prop:property_service set;

