on init
    mount none /system/etc/media_profiles_vendor.xml /vendor/etc/media_profiles_vendor.xml bind
    mount none /system/etc/audio_policy_configuration_omni.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_effects_omni.conf /vendor/etc/audio_effects.conf bind
    mount none /dev/null /vendor/overlay/SysuiDarkTheme/SysuiDarkThemeOverlay.apk bind

on boot
    start ril-daemon
    setprop sys.usb.ffs.aio_compat 1
    # Load WLAN driver, to satisfy wificond
    setprop wifi.interface wlan0
    insmod /system/lib/modules/wlan.ko
    # default country code
    setprop ro.boot.wificountrycode 00

on post-fs
    # Vibrator
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_default
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_level
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_max
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_min

    # game mode switch
    chown system system /sys/devices/soc/soc:gpio_keys/GamekeyStatus
